<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TipTop Ride</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 40px auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1 {
            color: #d9534f;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .content {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.8;
        }

        .btn {
            display: inline-block;
            background-color: #d9534f;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
        }

        .btn:hover {
            background-color: #c9302c;
        }

        .footer {
            margin-top: 30px;
            font-size: 0.9em;
            color: #777;
            text-align: center;
        }

        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo-container img {
            width: 100px;
            height: auto;
            margin-bottom: 20px;
        }

        .copyright {
            background-color: rgba(246, 246, 246, 1);
            color: rgba(130, 130, 130, 1);
            font-weight: 500;
            font-size: 12px;
            padding: 12px 0;
            border-radius: 5px;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo-container" style="text-align: center;">
            <a href="#" style="text-align: center;">
                <img id="logo" style="width: 140px; height:140px"
                    src="https://tiptop-stag.syd1.digitaloceanspaces.com/staging/TipTopDriver.png" alt="TipTop Logo" />
            </a>
        </div>



        <div class="content">
            <p>Hi <span style=" font-weight: 600;">{{name}},</span></p>
            <p>Congratulations on joining the TipTop Cabby team! We're excited to have you as a part of our community.
            </p>
            <p>Thank you for choosing TipTop Cabby! We're committed to providing you with a rewarding and flexible
                driving experience.</p>
            <p>Go online in the TipTop Cabby app and start accepting ride requests. Earn competitive rates and enjoy the
                freedom of being your own boss.</p>
            <p>Safe travels and happy driving!<br><br>Best regards,<br>The TipTop Cabby Team</p>
        </div>

        <td style="font-weight: 400;color: rgba(18, 18, 18, 1); font-size: 16px; line-height: 22px;">

            <button
                style="border: 0px; width: 100%; padding: 12px 20px;
                                                        color: rgba(130, 130, 130, 1); font-weight: 500 ;font-size:12px;
                                                        background-color: rgba(246, 246, 246, 1); text-align: center; border-radius: 5px;">
                Copyright © 2024 TipTop Cabby , All Rights Reserved.
            </button>
        </td>
    </div>
</body>

</html>